@model IEnumerable<MyMvcProject.Models.Post>

@{
    ViewData["Title"] = "Posty";
}

<h2>Posty: </h2>

@foreach (var post in Model)
{
    <div class="col-md-6 col-md-offset-3 text-right img-rounded ">
        <div class="panel panel-default">
            <div class="panel-heading text-left">@post.Title</div>
            <div class="panel-body text-left">@post.PostText</div>
            <div class="panel-footer">
                <div class="row">
                    <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-default btn-xs-2 btn-margin ">Szczegóły</a>
                    <a asp-action="Edit" asp-route-id="@post.Id" class="btn btn-default btn-xs-2 btn-margin ">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@post.Id" class="btn btn-default btn-xs-2 btn-margin ">Usuń</a>
                    <p class="pull-right col-xs-6">@post.PostDate</p>
                </div>

            </div>
        </div>
        <br />
    </div>

}


